/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {

    color:#fff;
    background-image: url('https://i.postimg.cc/26j9TS31/cosmos.jpg');  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}
 
        img{
           align-items: center;
           margin:0;
           padding:0:
        }
 



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5em;
  color: #333;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.weather-info div {
  flex: 1;
  text-align: center;
}

.weather-info div h2 {
  font-size: 2em;
  color: #333;
}

.weather-info div p {
  font-size: 1.2em;
  color: #666;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  color: #666;
}
