

body {

  color:#c8d3a9;
 font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-image: url('https://i.postimg.cc/t4KQ3q66/marek-szturc-4-CDdd1-RCt6w-unsplash.jpg');
}

#container {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px #8F9779; 
  border-radius: 15px;
    background-image: url("https://i.postimg.cc/XYjYjrN0/adjusted-image.jpg");
  padding: auto ;

 
}


  #currentCity {
  font-size: 50px;
 text-align: center;
  color: #f2ffce;
  font-weight: 200;
   text-shadow:
     -4px -2px 0  #000000
   ;
}

#weather-info {
  text-align: center;
  padding:  0;
  font-size: 2em;
  text-shadow:
     -4px -2px 0  #043927
   ;
  

}
  #temperature {
    font-size: 40px;
     font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;

  }


footer, a
{
  text-align: center;
  padding: 20px 0;
  color: #f2ffce;
   font-size:15px ;
    text-shadow:
     -2px -2.5px 0  #000000
   ;
}

}

#city { 
  font-size: 20px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #c8d3a9;
  padding: 2px 2px;
  margin: 10px 10px;
  background-color: #8F9779;
  display:inline-block;
 box-shadow:
      -2px -4px  #043927;
   border-radius: 20px;
}

#city::placeholder {
background-color: #c8d3a9;
 

}
#form-weather {
  display: flex;
  justify-content: center;
  box-shadow:
      -2px -1px   #043927
   ;
}
 #button {
  color: #043927;
 background-color: #8F9779;
 padding : 18px 20px;
 margin: 10px 20px;
  border-radius: 50%;
  font-family: "Madimi One", sans-serif;
  display: flex;
  justify-content: center;
 
 }

 #button:hover {
background-color: #c8d3a9;


}

 #image {
   width: 25%;
   border-radius: 30%;
 
 }